.button__click {
    max-width: 350px;
    max-height: 40px;
    border: 1px solid #4DB5E4;
    border-radius: 4px;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    padding: 12px 101px 12px 101px;
    white-space: nowrap;
    box-sizing: border-box;
}