.content {
    padding: 24px;
    max-width: 348px;
    margin: 0 auto;
    margin-top: 200px;
    background-color: #FFFFFF;
    align-items: center;
    border: 1px solid #E2E2E2;
    border-radius: 4px;
}

@media screen and (prefers-color-scheme: dark) {
    .content {
        background-color: #252525;
        border: none;
    }
}