.content {
    max-width: 398px;
    min-height: 310px;
    margin: 0 auto;
    margin-top: 200px;
    background-color: #FFFFFF;
    align-items: center;
    border: 1px solid #E2E2E2;
    border-radius: 4px;
}